.root {
  position: relative;
}

.color {
  border-radius: 4px;
  margin-left: 0;
  margin-right: 0;
  width: 33px;
  height: 33px;
  cursor: pointer;
  box-sizing: border-box;
  border: 1px solid #8e8e8e;
  flex-shrink: 0;
}

.color-picker-wrapper {
  position: absolute;
  top: 0;
  right: 0;
}
