.dimensions-form-wrapper {
  display: inline-block;
  position: relative;
  padding-right: 30px;
}

.dimensions-dropdown {
  position: absolute;
  right: 0;
  top: 0;
}

.dimensions-input {
  width: 70px;
  text-align: center;
}

.dimensions-dropdown > button {
  background: none;
  border: none;
  box-shadow: none;
}

.dimensions-dropdown > button:first-child {
  pointer-events: none;
  display: none;
}

.dimensions-x {
  margin: 0 8px;
  font-size: 17px;
}
