:global {
  .full-width-input {
    width: 100%;
  }
}

.logo {
  font-size: 20px;
  font-weight: bold;
  padding: 31px;
  padding-top: 20px;
  padding-bottom: 14px;
  background: white;
  margin-bottom: 0;
}

.logo a {
  color: black;
  &:hover {
    text-decoration: underline;
  }
}

.logo-icon {
  margin-right: 10px;
}

.layouts {
  display: flex;
  flex-wrap: wrap;
}

.layout-thumb {
  width: 74px;
  height: 74px;
  margin: 0 16px 16px 0;
  padding: 8px;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  &.active {
    border-color: #0070f3;
  }
}

.layout-thumb > img {
  width: 100%;
}

.sider {
  background: hsla(180, 0%, 99%, 1);
}

.form {
  padding: 30px;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 64px); // @layout-header-height
}

.header-row {
  height: 100%;
}

.dimensions-area {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.dimensions-form-wrapper {
  display: inline-block;
  position: relative;
  padding-right: 30px;
}

.dimensions-dropdown {
  position: absolute;
  right: 0;
  top: 0;
}

.dimensions-input {
  width: 70px;
  text-align: center;
}

.dimensions-dropdown > button {
  background: none;
  border: none;
  box-shadow: none;
}

.dimensions-dropdown > button:first-child {
  pointer-events: none;
  display: none;
}

.dimensions-x {
  margin: 0 8px;
  font-size: 17px;
}

.refresh-area {
  padding-left: 16px;
}

.download-area {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  padding-right: 16px;
}
