@color-sider-bar-width: 57px;

:global {
  .full-width-input {
    width: 100%;
  }
}

.logo {
  font-size: 20px;
  font-weight: bold;
  padding: 31px;
  padding-top: 20px;
  padding-bottom: 14px;
  background: white;
  margin-bottom: 0;
}

.logo a {
  color: black;
  &:hover {
    text-decoration: underline;
  }
}

.logo-icon {
  margin-right: 10px;
}

.layouts {
  display: grid;
  grid-template-columns: 82px 82px 82px;
  grid-column-gap: 12px;
}

.layout-items {
  display: grid;
  grid-template-columns: 58px 58px 58px 58px;
  grid-column-gap: 12px;
}

.item-thumb,
.layout-thumb {
  display: flex;
  justify-content: center;
  align-items: center;
}

.layout-thumb > img {
  width: 100%;
}

.item-thumb > img {
  width: 50%;
}

.item-thumb {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.upload-item-thumb {
  background-color: #fafafa;
  border: 1px dashed #999;
  border-radius: 4px;
  & > * + * {
    margin-top: 2px;
  }
  span {
    font-size: 12px;
  }
}

.sider {
  height: 100vh;
  background: hsla(180, 0%, 99%, 1);
}

.form {
  padding: 30px;
  box-sizing: border-box;
  height: calc(100vh - 64px);
  overflow-y: auto;
  overflow-x: hidden;
}

.content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 64px); // @layout-header-height
  padding-right: @color-sider-bar-width;
}

.color-side-bar {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  box-sizing: border-box;
  padding-top: 10px;
  width: @color-sider-bar-width;
  background: #fcfcfc;
  display: flex;
  flex-direction: column;
  align-items: center;
  & > * {
    margin-top: 14px;
  }
}

.header-row {
  height: 100%;
}

.dimensions-area {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.dimensions-form-wrapper {
  display: inline-block;
  position: relative;
  padding-right: 30px;
}

.dimensions-dropdown {
  position: absolute;
  right: 0;
  top: 0;
}

.dimensions-input {
  width: 70px;
  text-align: center;
}

.dimensions-dropdown > button {
  background: none;
  border: none;
  box-shadow: none;
}

.dimensions-dropdown > button:first-child {
  pointer-events: none;
  display: none;
}

.dimensions-x {
  margin: 0 8px;
  font-size: 17px;
}

.refresh-area {
  padding-left: 16px;
}

.download-area {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  padding-right: 16px;
}
