.sider {
  height: 100vh;
  background: white;
}

.form {
  padding: 30px;
  padding-top: 40px;
  box-sizing: border-box;
  height: calc(100vh - 64px);
  overflow-y: auto;
  overflow-x: hidden;
}

.form-item-with-show-more {
  margin-bottom: -10px;
}

.logo {
  position: relative;
  font-size: 20px;
  font-weight: bold;
  padding: 31px;
  padding-top: 20px;
  padding-bottom: 14px;
  background: #fbfbfb;
  margin-bottom: 0;
  text-align: center;
}

.logo a {
  color: black;
  &:hover {
    text-decoration: underline;
  }
}

.logo-icon {
  margin-right: 10px;
}

.layouts {
  display: grid;
  grid-template-columns: 82px 82px 82px;
  grid-column-gap: 12px;
}

.layout-items {
  display: grid;
  grid-template-columns: 58px 58px 58px 58px;
  grid-column-gap: 12px;
}

.layout-thumb {
  display: flex;
  justify-content: center;
  align-items: center;
}

.layout-thumb > img {
  width: 100%;
}

.show-more {
  color: #3aa7f9;
}
